<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FoenixIDE.Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<userSettings>
        <FoenixIDE.Simulator.Properties.Settings>
                <setting name="Autorun" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="BoardRevision" serializeAs="String">
                        <value>F256K</value>
                </setting>
                <setting name="SDCardPath" serializeAs="String">
                        <value />
                </setting>
                <setting name="SDCardCapacity" serializeAs="String">
                        <value>8</value>
                </setting>
                <setting name="SDCardClusterSize" serializeAs="String">
                        <value>512</value>
                </setting>
                <setting name="SDCardFSType" serializeAs="String">
                        <value>FAT32</value>
                </setting>
                <setting name="SDCardISOMode" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="ViewWidth" serializeAs="String">
                        <value>640</value>
                </setting>
                <setting name="ViewHeight" serializeAs="String">
                        <value>480</value>
                </setting>
        </FoenixIDE.Simulator.Properties.Settings>
    </userSettings>
</configuration>
